<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.matchball">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".chat.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatchBall">
        <activity
            android:name=".confirm.ConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".mymatches.wait.details.UpComingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".appsetting.language.ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".signin.phone.signin.PhoneSignInActivity"
            android:exported="false" />
        <activity
            android:name=".signin.phone.verify.PhoneVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".appsetting.AppSettingActivity"
            android:exported="false" />
        <activity
            android:name=".usersetting.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".usersetting.account.UserAccountActivity"
            android:exported="false" />
        <activity
            android:name=".yourmatchrequest.details.YourRequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".yourmatchrequest.list.YourRequestActivity"
            android:exported="false" /> <!-- <service -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".joinmatch.JoinMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_join_maps" />
        <activity
            android:name=".createrequest.ShowRequestMapActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_maps" />
        <activity
            android:name=".joinmatch.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".createrequest.RequestMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".createrequest.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".usersetting.userinfo.UserInfoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".signin.google.GoogleSignInActivity"
            android:exported="false" />
        <activity
            android:name=".signin.password.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".home.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>